<form [formGroup]="form" novalidate (ngSubmit)="save($event)">
    <p>
      Name: <br/>
      <input type="text" formControlName="name">
    </p>
    <div *ngIf="nameField.errors && nameField.touched">
        <p *ngIf="nameField.hasError('required')">Este campo es requerido</p>
    </div>
    <p>
      Fecha: <br/>
      <input type="date" formControlName="date">
    </p>
    <p>
      Email: <br/>
      <input type="email" formControlName="email">
    </p>
    <div *ngIf="emailField.errors && emailField.touched">
        <p *ngIf="emailField.hasError('required')">Es un campo requerido</p>
        <p *ngIf="emailField.hasError('email')">
            Se requiere un correo electronico valido.
        </p>
    </div>
    <p>
      Texto largo: <br/>
      <textarea cols="30" rows="10" formControlName="text"></textarea>
      <small>{{ textField.value.length }}/80</small>
    </p>
    <div *ngIf="textField.errors && textField.touched">
        <p *ngIf="textField.hasError('required')">Es un campo requerido</p>
        <p *ngIf="textField.hasError('minlength')">Se necesitan al menos 10 caracteres.</p>
    </div>
    <p>
      Category: <br/>
      <select formControlName="category">
        <option value="1">Category 1</option>
        <option value="2">Category 2</option>
        <option value="3">Category 3</option>
      </select>
    </p>
    <p>
      Genero: <br/>
      <input type="radio" name="gender" formControlName="gender" value="male"> Male<br>
      <input type="radio" name="gender" formControlName="gender" value="female"> Female<br>
      <input type="radio" name="gender" formControlName="gender" value="other"> Other
    </p>
    <br>
    <button type="submit" >Enviar</button>
  </form>
